<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

    <head th:fragment="head (site)">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width = device-width, height = device-height, initial-scale=1, minimum-scale = 1.0, maximum-scale = 1.0, viewport-fit=cover"></meta>
        <meta http-equiv="expires" content="0"></meta>
        <meta name="mobile-web-app-capable" content="yes"></meta>
        <meta name="apple-mobile-web-app-capable" content="yes"></meta>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
        <meta name="theme-color" content="#000000" />
        <link rel="apple-touch-icon" sizes="114x114" href="staticresources/apple-touch-icon-114x114.png?3" ></link>
        <link rel="apple-touch-icon" sizes="120x120" href="staticresources/apple-touch-icon-120x120.png?3"></link>
        <link rel="apple-touch-icon" sizes="72x72" href="staticresources/apple-touch-icon-72x72.png?3"></link>
        <link rel="apple-touch-icon" sizes="76x76" href="staticresources/apple-touch-icon-76x76.png?3"></link>
        <link rel="apple-touch-icon" sizes="144x144" href="staticresources/apple-touch-icon-144x144.png?3"></link>
        <link rel="apple-touch-icon" sizes="152x152" href="staticresources/apple-touch-icon-152x152.png?3"></link>
        <link rel="icon" href="staticresources/favicon.ico?4" type="image/x-icon"></link>
        <link rel="icon" sizes="152x152" href="staticresources/apple-touch-icon-152x152.png?3">
        <link rel="shortcut icon" href="staticresources/favicon.ico?4"></link>
        <link rel="stylesheet" href="staticresources/style.css?12"></link>
        <script src='staticresources/script.js?19'></script>
        <script src='staticresources/blazy.js?1'></script>
        <title>Photos</title>
    </head>

</html>