.svglogout {background: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320" width="512" height="512"><style>.a{fill:#FFF;}</style><path d="M51.2 175h173.8c8.3 0 15-6.7 15-15 0-8.3-6.7-15-15-15H51.2l19.4-19.4c5.9-5.9 5.9-15.4 0-21.2 -5.9-5.9-15.4-5.9-21.2 0L4.4 149.4c-0.4 0.4-0.7 0.7-1 1.1 -0.1 0.2-0.3 0.3-0.4 0.5 -0.2 0.2-0.3 0.4-0.5 0.7 -0.1 0.2-0.3 0.4-0.4 0.6 -0.1 0.2-0.3 0.4-0.4 0.6 -0.1 0.2-0.2 0.4-0.3 0.7 -0.1 0.2-0.2 0.4-0.3 0.7 -0.1 0.2-0.2 0.4-0.2 0.7 -0.1 0.2-0.2 0.5-0.3 0.7 -0.1 0.2-0.1 0.4-0.2 0.7 -0.1 0.2-0.1 0.5-0.2 0.8 -0.1 0.3-0.1 0.5-0.1 0.8 0 0.2-0.1 0.4-0.1 0.7 0 0.5-0.1 1-0.1 1.5 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0 1 0.1 1.5 0 0.2 0.1 0.4 0.1 0.7 0 0.3 0.1 0.5 0.1 0.8 0.1 0.3 0.1 0.5 0.2 0.7 0.1 0.2 0.1 0.5 0.2 0.7 0.1 0.2 0.2 0.5 0.2 0.7 0.1 0.2 0.2 0.5 0.2 0.7 0.1 0.2 0.2 0.4 0.3 0.6 0.1 0.2 0.2 0.5 0.3 0.7 0.1 0.2 0.2 0.4 0.4 0.6 0.1 0.2 0.3 0.4 0.4 0.7 0.1 0.2 0.3 0.4 0.5 0.6 0.1 0.2 0.3 0.4 0.4 0.5 0.3 0.4 0.6 0.7 0.9 1 0 0 0 0 0 0.1l45 45c2.9 2.9 6.8 4.4 10.6 4.4 3.8 0 7.7-1.5 10.6-4.4 5.9-5.9 5.9-15.4 0-21.2L51.2 175z" class="a"/><path d="M305 25h-190c-8.3 0-15 6.7-15 15v60c0 8.3 6.7 15 15 15s15-6.7 15-15V55h160v210h-160v-45c0-8.3-6.7-15-15-15s-15 6.7-15 15v60c0 8.3 6.7 15 15 15h190c8.3 0 15-6.7 15-15V40C320 31.7 313.3 25 305 25z" class="a"/></svg>') no-repeat;}
.svgback {background: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 444.5 444.5"><path d="M213.1 222.4L351.9 83.7c7.1-7 10.6-15.7 10.6-25.8 0-10.2-3.5-18.8-10.6-25.8l-21.4-21.4C323.4 3.5 314.8 0 304.6 0s-18.8 3.5-25.8 10.6L92.6 196.4c-7 7-10.6 15.7-10.6 25.8s3.5 18.8 10.6 25.8l186.1 185.9c7.1 7 15.7 10.6 25.8 10.6s18.8-3.5 25.8-10.6l21.4-21.4c7.1-7 10.6-15.6 10.6-25.7 0-10.1-3.5-18.7-10.6-26L213.1 222.4z" fill="#FFF"/></svg>') no-repeat;}

* {
margin: 0px;
padding: 0px;
border: none; 
border-collapse: collapse;
}

body {
  text-align:center;
  background-color: #000;
  font-family: "Helvetica", sans-serif;
}

.figureicon20 {
  height:20px;
  width:20px;
  background-size: 20px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.figureicon40 {
  height:40px;
  width:40px;
  background-size: 40px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.figureicon50 {
  height:50px;
  width:50px;
  background-size: 50px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#icons{
  margin-left:auto; 
  margin-right:auto;
}
figure {
  padding: 3px;	
  float: left;
}
figure a {
  display: block;
}
.thumbnailDiv {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #c8c8c8;
  z-index:-1000; 
}
.thumbnailDiv img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnailDiv img.portrait {
  width: 100%;
  height: auto;
}
.headerspacer{
	width: 100%;
	display: block;
	position: relative;
	background-color: #000;
	color: white;
	height: 55px;
	z-index:-1000;
}
.headerspacer-small{
	width: 100%;
	display: block;
	position: relative;
	background-color: #000;
	color: white;
	height: 35px;
	z-index:-1000;
}
.headertablediv {
  background-color: #000;
  text-align: left;
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;  
  border-bottom:3px solid #000;
}
.headertable {
  width: 100%;
  background-color: #000;
  padding: 0px;
  table-layout: fixed;
  white-space: nowrap;
}
.headertd1 {
  background-color: #333;
  width: 60px;
  height: 45px;
  z-index:100;
}
.headertd2 {
  background-color: #666;
  width: 100%;
  height: 45px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-ellipsis {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}
.truncate-ellipsis > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}
#title, #overview {
  padding-left: 8px;
  padding-right: 8px;
  color: #fff;
  font-size: 16px;
  font-weight:normal;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.pic-content {
  padding: 25px;
}
@media only screen 
  and (orientation: portrait) 
  and (max-device-width: 736px) {
  .pic-content {
    padding: 5px;
  }
}
.picture {
  padding: 5px;
}
#pictures{
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);	
}
.entry{
color: #FFF;
background-color:#111;
}
.entryDark{
color: #676767;
background-color:#111;
}
.row{
border-top: #666 1px solid;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 3px;
padding-right: 3px;
overflow:hidden;
}

.rowspan{
float:left;
text-align: left;
vertical-align: middle;
font-size: 16px;
line-height:20px;
}

input[type="checkbox"]{
}

input[type="text"],
input[type="search"],
input[type="password"]{
outline: none;
background-color: #000;
display: inline-block;
-webkit-appearance:none;
-moz-appearance:none;
margin:0px 4px;
height:40px;
font-size:14px;
text-align:center;
width:95%;
border-radius: 0;
color: #FFF;
}

div.contentWrapper {
display: block;
width:100%;
position: absolute;
z-index:100;
}

div.inputWrapper {
display: block;
z-index:100;
width:99%;
background-color: #000;
}
@-moz-document url-prefix() {
	div.inputWrapper {
	padding:0px;
	}
}

@media screen and (min-width: 800px) {
	header {
		margin-bottom: 10px;	
	}
	.row{
		width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
	.wrapper{
		margin-bottom: 10px;
	}
	div.inputWrapper {
		display: inline-block;
		border: #666 1px solid;
		width: 702px;
		margin-bottom: 10px;
	}
}

.entry a:link, 
.entry a:visited,
.entry a:focus,
.entry a:hover,
.entry a:active{
text-decoration: none;
color: #FFF;
}

.entryDark a:link, 
.entryDark a:visited,
.entryDark a:focus,
.entryDark a:hover,
.entryDark a:active{
text-decoration: none;
color: #676767;
}

.row:hover, .entry:hover, .entryDark:hover, .row:hover .rowspan{
background-color:#252525;
}

.icon2xready{
	margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
	background:url('apple-touch-icon-57x57-precomposed.png') no-repeat top left / 57px 57px;
	width:57px;
	height:57px;
	box-sizing: border-box;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
	.icon2xready{
		background:url('apple-touch-icon-114x114-precomposed.png') no-repeat top left / 57px 57px;
	}
}

.card {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;	
  padding-bottom: 20px;
  width: 220px;
  margin: 0 auto 10px;
  overflow: hidden;
  background: #000;
}

.card h1 {
  text-align: center;
  font-size: 20px;
  color: #FFF;
}

.card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.card input[type=text], input[type=password] {
  height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  background: #000;
  padding: 0 8px;
  display: block;
  border: #FFF 1px solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align:left;
  color: #FFF
}

.card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #FFF;
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 42px;
  padding: 0 8px;
  margin-bottom: 10px;
}

.login-submit {
  border: 0px;
  color: #fff;
  background-color: #333;
  margin:0px 4px;
}

.login-submit:hover {
  border: 0px;
  background-color: #666;
}

.card-help {
  text-align: center;
  font-size: 12px;
  color: #888;
}

.card-help a:link,
.card-help a:visited,
.card-help a:focus,
.card-help a:hover,
.card-help a:active{
color: #888;
}

.card-message {
  text-align: center;
  font-size: 12px;
  color: #FF0000; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.attribution {
  margin-top: 10px;
  text-align: center;
  font-size: 8px;
  color: #888;
}

.attribution a:link,
.attribution a:visited,
.attribution a:focus,
.attribution a:hover,
.attribution a:active{
text-decoration: none;
color: #888;
}
.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.b-lazy {
    -webkit-transition: opacity 600ms ease-in-out;
       -moz-transition: opacity 600ms ease-in-out;
         -o-transition: opacity 600ms ease-in-out;
            transition: opacity 600ms ease-in-out;
               opacity: 0;
}
.b-lazy.b-loaded {
               opacity: 1;
}